argcomplete==1.12.3
backcall==0.2.0
Brotli==1.0.9
click==8.1.3
colorama==0.4.4
debugpy==1.5.1
dominate==2.6.0
Flask==2.1.0
Flask-Bootstrap==3.3.7.1
Flask-Caching==1.10.1
Flask-Compress==1.12
Flask-Cors==3.0.7
gunicorn==20.1.0
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
nest-asyncio==1.5.4
numpy==1.21.6
pickleshare==0.7.5
python-dateutil==2.8.2
pyzmq==22.3.0
six==1.16.0
tornado==6.1
typing_extensions==4.3.0
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==2.1.2
wincertstore==0.2
zipp==3.6.0
